@inherits LayoutComponentBase

@* 
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent Style="padding-left: 1rem; margin-top= 2rem;">
        @Body
    </MudMainContent>
</MudLayout> *@
<PageTitle>SmartSystem - Login</PageTitle>
<div class="container">
    @Body
</div>

